<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100;1,500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style_sheets/administration/bookMangement.css">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-expand-lg fixed-top navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="/assets/icons8-open-book-50.svg" alt="" width="30" height="24">
              Book Worms
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="http://localhost:3300/adminInterface">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Books</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Borrow</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3300/adminLogin/Logout">Logout</a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>

    <div class="container-fluid pt-5" id="manage-books">
        <div class="row">
          <div class="col-6 text-left">
            <button class="btn" id="add-book-btn" data-bs-toggle="modal" data-bs-target="#addBookModal">+ New Book</button>
        </div>
        <div class="col-6 d-flex justify-content-end " id="tables">
          <a href="http://localhost:3300/authorManagement">
            <button class="btn" >Author</button>
          </a>
            <a href="http://localhost:3300/publisherManagement">
              <button class="btn">Publisher</button>
            </a>
            <a href="http://localhost:3300/genreManagement">
            <button class="btn" id="genre_table_button">Genre</button>
          </a>
        </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Genre(s)</th>
                            <th scope="col">no_of_copies</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Language</th>
                            <th scope="col">Publisher</th>
                            <th scope="col">Publish_date</th>
                            <th scope="col">Image Path</th>
                            <th scope="col">Pdf path</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% books.forEach(book => { %>
                        <tr>
                            <%console.log(book);%>
                          <td><%= book.title %></td>
                          <td><%= book.author_first_name%> <%= book.author_last_name%> </td>
                          <td><%= book.genres.replace('_', ' ') %></td>
                          <td><%= book.no_of_copies %></td>
                          <td><%= book.ISBN %></td>
                          <td><%= book.language %></td>
                          <td><%= book.publisher_first_name%> <%= book.publisher_last_name%> %></td>
                          <td><%= new Date(book.publish_date).toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-') %></td>
                          <td class="image-path-cell" data-toggle="tooltip" title="<%= book.file_path%>" ><%= book.file_path%></td>
                          <td class="pdf-path-cell" data-toggle="tooltip" title="<%= book.pdf_path %>"><%= book.pdf_path %></td>
                          <td class="description-cell" data-toggle="tooltip" title="<%= book.book_description %>"><%= book.book_description %></td>


                          <td>
                            <button class="btn btn-link edit-book-btn" data-toggle="tooltip" title="Edit" data-bookid="<%= book.book_id %>" data-booktitle="<%= book.title %>" data-authorid="<%= book.author_id %>" data-genreid="<%= book.genre_id %>" data-publisherid="<%= book.publisher_id %>" data-bookpublishdate="<%= book.publish_date%>" data-bookstock="<%= book.no_of_copies %>" data-bookisbn="<%= book.ISBN %>" data-booklanguage="<%= book.language %>" data-bookimagepath="<%= book.file_path %>" data-bookpdfpath="<%= book.pdf_path %>" data-bookdescription="<%= book.book_description %>">
                              <i class="fas fa-edit"></i>
                            </button>
                        </td>
                          <td>
                            <button class="btn btn-link delete-book-btn" data-toggle="tooltip" title="Delete" data-bookid = "<%= book.book_id %>" >
                              <i class="fas fa-trash-alt"></i>
                            </button>
                          </td>
                        </tr>
                      <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--- Modals -->

    <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addBookModalLabel">Add New Book</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="addBookForm">
              <div class="form-group">
                <label for="add-BookTitle">Title:</label>
                <input type="text" class="form-control" id="add-BookTitle">
              </div>
              <div class="form-group">
                <label for="add-BookISBN">ISBN:</label>
                <input type="text" class="form-control" id="add-BookISBN">
              </div>
              <div class="form-group">
                <label for="add-BookStock">Number of copies:</label>
                <input type="number" class="form-control" id="add-BookStock">
              </div>
              <div class="form-group">
                <label for="add-BookLanguage">Language:</label>
                <input type="text" class="form-control" id="add-BookLanguage" data-toggle="tooltip"  pattern=".{3}"  title="Please enter language in 3 character format only">
              </div>
              <div class="form-group">
                <label for="add-authorID">Author</label>
                <select class="form-control" id="add-authorID">
                  <% authors.forEach(function(author) { %>
                    <option value="<%= author.author_id %>"><%= author.author_first_name %> <%= author.author_last_name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="add-genreID" class="col-form-label">Genre:</label>
                <select class="form-control" id="add-genreID">
                  <% genres.forEach(function(genre) { %>
                    <option value="<%= genre.genre_id %>"><%= genre.genre_name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="add-publisherID" class="col-form-label">Publisher:</label>
                <select class="form-control" id="add-publisherID">
                  <% publishers.forEach(function(publisher) { %>
                    <option value="<%= publisher.publisher_id %>"><%= publisher.publisher_first_name %> <%= publisher.publisher_last_name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="add-bookPublishDate" class="col-form-label">Publish date:</label>
                <input type="date" class="form-control" id="add-bookPublishDate">
              </div>
              <div class="form-group">
                <label for="add-ImagePath">Image Path:</label>
                <input type="text" class="form-control" id="add-ImagePath">
              </div>
              <div class="form-group">
                <label for="add-PdfPath">Pdf path:</label>
                <input type="text" class="form-control" id="add-PdfPath">
              </div>
              <div class="form-group">
                <label for="add-BookDescription">Description:</label>
                <input type="text" class="form-control" id="add-BookDescription">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="submitAddBook">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="editBookModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editBookModalLabel">Edit Book</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editBookForm">
              <div class="form-group">
                <label for="edit-bookId" class="col-form-label">Book ID:</label>
                <input type="text" class="form-control" id="edit-bookId" readonly data-toggle="tooltip" title="Book ID cannot be changed">
              </div>
              <div class="form-group">
                <label for="edit-bookTitle" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="edit-bookTitle">
              </div>
              <div class="form-group">
                <label for="edit-bookISBN" class="col-form-label">ISBN:</label>
                <input type="text" class="form-control" id="edit-bookISBN">
              </div>
              <div class="form-group">
                <label for="edit-author" class="col-form-label">Author:</label>
                <select class="form-control" id="edit-author">
                  <% authors.forEach(function(author) { %>
                    <option value="<%= author.author_id %>"><%= author.author_first_name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="edit-genre" class="col-form-label">Genre:</label>
                <select class="form-control" id="edit-genre">
                  <% genres.forEach(function(genre) { %>
                    <option value="<%= genre.genre_id %>"><%= genre.genre_name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="edit-publisher" class="col-form-label">Publisher:</label>
                <select class="form-control" id="edit-publisher">
                  <% publishers.forEach(function(publisher) { %>
                    <option value="<%= publisher.publisher_id %>"><%= publisher.publisher_first_name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="edit-bookPublishDate" class="col-form-label">Publish date:</label>
                <input type="date" class="form-control" id="edit-bookPublishDate">
              </div>
              <div class="form-group">
                <label for="edit-bookStock" class="col-form-label">Number of copies:</label>
                <input type="text" class="form-control" id="edit-bookStock">
              </div>
              <div class="form-group">
                <label for="edit-bookLanguage" class="col-form-label">Language:</label>
                <input type="text" class="form-control" id="edit-bookLanguage">
              </div>
              <div class="form-group">
                <label for="edit-bookImagePath" class="col-form-label">Image path:</label>
                <input type="text" class="form-control" id="edit-bookImagePath">
              </div>
              <div class="form-group">
                <label for="edit-bookPdfPath" class="col-form-label">Pdf path:</label>
                <input type="text" class="form-control" id="edit-bookPdfPath">
              </div>
              <div class="form-group">
                <label for="edit-bookDescription" class="col-form-label">Description:</label>
                <input type="text" class="form-control" id="edit-bookDescription">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="submitEditBook">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="deleteModalLabel"></h6>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body text-center">
            Are you sure you want to delete this book?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();

        $('#submitAddBook').click(function(e) {
          e.preventDefault();
          console.log('submit button is hit');

          // Get form data
          var title = $('#add-BookTitle').val();
          var ISBN = $('#add-BookISBN').val();
          var no_of_copies = $('#add-BookStock').val();
          var language = $('#add-BookLanguage').val();
          var author_id = $('#add-authorID').val();
          var genre_id = $('#add-genreID').val();
          var publisher_id = $('#add-publisherID').val();
          var publish_date = $('#add-bookPublishDate').val();
          var file_path = $('#add-ImagePath').val();
          var pdf_path = $('#add-PdfPath').val();
          var book_description = $('#add-BookDescription').val();
          console.log("publisher id: " + publisher_id);
          console.log("genre id: " + genre_id);
          console.log("authorid: " + author_id);
          // Send POST request
          $.ajax({
            url: '/bookMangement/addBook',
            type: 'POST',
            data: {
              title: title,
              ISBN: ISBN,
              no_of_copies: no_of_copies,
              language: language,
              author_id: author_id,
              genre_id: genre_id,
              publisher_id: publisher_id,
              publish_date: publish_date,
              file_path: file_path,
              pdf_path: pdf_path,
              book_description: book_description
            },
            success: function(data) {
              if (data.success) {
                alert('Book added successfully!');
                $('#addBookModal').modal('hide');
                location.reload();
              } else {
                alert('Error: ' + data.message);
              }
            }
          });
  });




        $('.edit-book-btn').on('click', function() {
          const bookId = $(this).data('bookid');
          const authorId = $(this).data('authorid');
          const genreId = $(this).data('genreid');
          const publisherId = $(this).data('publisherid');
          const bookTitle = $(this).data('booktitle');
          const bookStock = $(this).data('bookstock');
          const bookISBN = $(this).data('bookisbn');
          const bookLanguage = $(this).data('booklanguage');
          const bookImagePath = $(this).data('bookimagepath');
          const bookPdfPath = $(this).data('bookpdfpath');
          const bookDescription = $(this).data('bookdescription');
          const bookPublishDate = new Date($(this).data('bookpublishdate'));
          const formattedBookPublishDate = bookPublishDate.toISOString().split('T')[0];

          $('#edit-bookId').val(bookId);
          $('#edit-author').val(authorId);
          $('#edit-genre').val(genreId);
          $('#edit-publisher').val(publisherId);
          $('#edit-bookTitle').val(bookTitle);
          $('#edit-bookStock').val(bookStock);
          $('#edit-bookISBN').val(bookISBN);
          $('#edit-bookLanguage').val(bookLanguage);
          $('#edit-bookImagePath').val(bookImagePath);
          $('#edit-bookPdfPath').val(bookPdfPath);
          $('#edit-bookDescription').val(bookDescription);
          $('#edit-bookPublishDate').val(formattedBookPublishDate);
          console.log(formattedBookPublishDate);

          $('#editBookModal').modal('show');
        });

        $('#submitEditBook').on('click', function() {
          const bookId = $('#edit-bookId').val();
          const authorId = $('#edit-author').val();
          const genreId = $('#edit-genre').val();
          const publisherId = $('#edit-publisher').val();
          const bookTitle = $('#edit-bookTitle').val();
          const bookStock = $('#edit-bookStock').val();
          const bookISBN = $('#edit-bookISBN').val();
          const bookLanguage = $('#edit-bookLanguage').val();
          const bookImagePath= $('#edit-bookImagePath').val();
          const bookPdfPath= $('#edit-bookPdfPath').val();
          const bookDescription = $('#edit-bookDescription').val();
          const bookPublishDate = $('#edit-bookPublishDate').val();

          // Perform update request
          $.ajax({
            url: '/bookMangement/updateBook',
            type: 'POST',
            data: {
              bookId: bookId,
              authorId: authorId,
              genreId: genreId,
              publisherId: publisherId,
              bookTitle: bookTitle,
              bookStock:bookStock,
              bookISBN: bookISBN,
              bookLanguage: bookLanguage,
              bookImagePath: bookImagePath,
              bookPdfPath: bookPdfPath,
              bookDescription: bookDescription,
              bookPublishDate: bookPublishDate
            },
            success: function(response) {
              if (response.success) {
                location.reload();
              }
            },
            error: function(error) {
              console.error('Error:', error);
            }
          });

          $('#editBookModal').modal('hide');
        });

        $('.delete-book-btn').on('click', function() {
          const bookID = $(this).data('bookid');
          $('#deleteModal').modal('show');

          $('#confirmDelete').on('click', function() {
            console.log('bon submit:', bookID);
            // Perform delete request
            $.ajax({
              url: '/bookMangement/delete/' + bookID,
              type: 'DELETE',
              success: function(response) {
                if (response.success) {
                  location.reload();
                }
              },
              error: function(error) {
                console.error('Error:', error);
              }
            });
            $('#deleteModal').modal('hide');
          });
        });


});

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b042d509f8.js" crossorigin="anonymous"></script>
</body>
</html>